@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.section-header__line {
  height: 2px;
  border: none;
  flex: 1;
}

.button {
  cursor: pointer;
  border: 1.5px solid currentColor;
  padding: 0.625rem 1.875rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.testimonials__img, .projects__img, .portfolio__img, .hero__img, .about__img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__logo, .footer__logo {
  width: 15.625rem;
  height: auto;
  display: block;
}
@media (max-width: 576px) {
  .hero__logo, .footer__logo {
    width: 13.4375rem;
  }
}

.projects, .hero, .footer {
  min-height: 100dvh;
}

.footer__socials h3, .footer__contact h3 {
  padding-bottom: 0.9375rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

html {
  font-size: 100%;
}

body,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h3 {
  font-weight: 700;
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 5.625rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.25rem, 3vw + 0.5rem, 1.5rem);
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
}

h3 {
  font-size: clamp(1.125rem, 2vw + 0.5rem, 1.25rem);
  line-height: 1.6;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
@media (max-width: 576px) {
  .footer__logo-container {
    gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .footer__logo-container {
    display: block;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0;
}
@media (max-width: 576px) {
  .footer__socials {
    gap: 2.5rem;
  }
}
@media (max-width: 576px) {
  .footer__socials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .footer__socials {
    gap: 2.5rem;
  }
}
@media (max-width: 576px) {
  .footer__socials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .footer__socials ul {
    gap: 2.5rem;
  }
}
.footer__socials a {
  color: #f6f5ea;
}
.section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
  margin-bottom: 5rem;
}
@media (max-width: 576px) {
  .section-header {
    gap: 2.5rem;
  }
}
@media (max-width: 576px) {
  .section-header {
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
.section-header__title {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .section-header__title {
    margin-bottom: 1.25rem;
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0;
}
@media (max-width: 576px) {
  .about__text {
    gap: 2.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
@media (max-width: 576px) {
  .hero {
    gap: 2.5rem;
  }
}
.hero__left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.75rem;
}
@media (max-width: 576px) {
  .hero__left {
    gap: 2.5rem;
  }
}
@media (max-width: 576px) {
  .hero__left {
    gap: 3.125rem;
  }
}
.hero__logo {
  position: absolute;
  top: 5rem;
  left: 4.0625rem;
}
@media (max-width: 1024px) {
  .hero__logo {
    position: static;
  }
}
.portfolio__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2.1875rem;
}
@media (max-width: 576px) {
  .portfolio__content {
    gap: 2.5rem;
  }
}
.portfolio__img {
  height: 520px;
}
@media (max-width: 1024px) {
  .portfolio__img {
    height: 380px;
  }
}
@media (max-width: 576px) {
  .portfolio__img {
    height: auto;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 0;
}
@media (max-width: 576px) {
  .projects {
    gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .projects {
    min-height: 100%;
  }
}
.projects__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.1875rem;
}
@media (max-width: 576px) {
  .projects__content {
    gap: 2.5rem;
  }
}
.projects__content-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
@media (max-width: 576px) {
  .projects__content-button {
    gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .projects__content-button {
    justify-content: center;
  }
}
.projects__img {
  height: 320px;
}
@media (max-width: 576px) {
  .projects__img {
    height: auto;
  }
}

.testimonials__img {
  max-height: 650px;
}
@media (max-width: 576px) {
  .testimonials__img {
    max-height: none;
  }
}
.testimonials__container {
  padding: 0 7.5rem;
}
@media (max-width: 1024px) {
  .testimonials__container {
    padding: 0 3.125rem;
  }
}
@media (max-width: 576px) {
  .testimonials__container {
    padding: 0;
  }
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2.1875rem;
}
@media (max-width: 576px) {
  .testimonials__content {
    gap: 2.5rem;
  }
}
.testimonials__content--second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2.1875rem;
}
@media (max-width: 576px) {
  .testimonials__content--second {
    gap: 2.5rem;
  }
}
.testimonials__names {
  font-weight: 600;
}

.bg-primary {
  background-color: #4a5b4e;
  color: #f6f5ea;
}

.bg-secondary {
  background-color: #f6f5ea;
  color: #4a5b4e;
}

.p-x {
  padding-left: 4.0625rem;
  padding-right: 4.0625rem;
}
@media (max-width: 1024px) {
  .p-x {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 576px) {
  .p-x {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.p-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 1024px) {
  .p-y {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 576px) {
  .p-y {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3.125rem;
}
@media (max-width: 1024px) {
  .grid {
    align-content: space-between;
  }
}
@media (max-width: 576px) {
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .grid {
    gap: 2.5rem;
  }
}
.grid--projects {
  align-items: center;
}
.grid--footer {
  align-content: flex-end;
}
@media (max-width: 576px) {
  .grid--footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 3.75rem !important;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .grid--footer {
    gap: 2.5rem;
  }
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (max-width: 1024px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}/*# sourceMappingURL=style.css.map */