@use '../abstracts' as *;

.hero {
	@extend %height;
	@include flex(column, nowrap, center, center);

	&__left {
		@include flex(column, nowrap, flex-start, flex-start, px-to-rem(60px));
		@include tablet {
			gap: px-to-rem(80px);
		}
		@include mobile {
			gap: px-to-rem(50px);
		}
	}

	&__logo {
		@extend %logo;
		position: absolute;
		top: px-to-rem(80px);
		left: px-to-rem(65px);

		@include tablet {
			position: static;
		}
	}

	&__img {
		@extend %img;
	}
}
