@use '../abstracts' as *;

.projects {
	@extend %height;
	@include mobile {
		height: auto;
	}
	@include flex(column, nowrap, stretch, space-between);

	&__content {
		@include flex(column, nowrap, flex-start, space-between, px-to-rem(35px));
		&-button {
			@include flex(row, nowrap, center, center);
		}
	}

	&__img {
		@extend %img;
		height: 320px;

		@include mobile {
			height: auto;
		}
	}
}
