@use '../abstracts' as *;

.projects {
	@extend %height;
	@include flex(column, nowrap, stretch, space-between);

	@include tablet {
		min-height: 100%;
	}

	&__content {
		@include flex(column, nowrap, flex-start, space-between, px-to-rem(35px));

		&-button {
			@include flex(row, nowrap, flex-start, flex-start);

			@include tablet {
				justify-content: center;
			}
		}
	}

	&__img {
		@extend %img;
		height: 320px;

		@include mobile {
			height: auto;
		}
	}
}
