@use '../abstracts/' as *;

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: px-to-rem(50px);

	@include tablet {
		align-content: space-between;
	}

	@include mobile {
		@include flex(column, nowrap, flex-start, space-between, px-to-rem(40px));
	}

	&--projects {
		align-items: center;
	}

	&--footer {
		align-content: flex-end;

		@include mobile {
			@include flex(column, nowrap, flex-start, flex-end, px-to-rem(60px) !important);
		}
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		grid-column: span #{$i};
	}
}

@include tablet {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			grid-column: span #{$i};
		}
	}
}
