@use '../abstracts' as *;

$paddings: (
	'x': (
		desktop: px-to-rem(65px),
		tablet: px-to-rem(40px),
		mobile: px-to-rem(20px),
	),
	'y': (
		desktop: px-to-rem(80px),
		tablet: px-to-rem(70px),
		mobile: px-to-rem(60px),
	),
);

@each $padding, $size in $paddings {
	.p-#{$padding} {
		@if $padding == 'x' {
			padding-left: map-get($size, desktop);
			padding-right: map-get($size, desktop);

			@include tablet {
				padding-left: map-get($size, tablet);
				padding-right: map-get($size, tablet);
			}

			@include mobile {
				padding-left: map-get($size, mobile);
				padding-right: map-get($size, mobile);
			}
		} @else if $padding == 'y' {
			padding-top: map-get($size, desktop);
			padding-bottom: map-get($size, desktop);

			@include tablet {
				padding-top: map-get($size, tablet);
				padding-bottom: map-get($size, tablet);
			}

			@include mobile {
				padding-top: map-get($size, mobile);
				padding-bottom: map-get($size, mobile);
			}
		}
	}
}
