@use '../abstracts' as *;

.footer {
	@extend %height;

	&__logo-container {
		@include flex(column, nowrap, center, flex-start);
	}

	&__logo {
		@extend %logo;
	}

	&__socials {
		@include flex(column, nowrap, flex-end, flex-start);

		@include mobile {
			@include flex(column, nowrap, flex-start, flex-start);
		}

		ul {
			@include mobile {
				@include flex(row, nowrap, center, flex-start, px-to-rem(10px));
			}
		}

		h3 {
			@extend %padding-title-footer;
		}
		a {
			color: $secondary-color;
		}
	}

	&__contact {
		h3 {
			@extend %padding-title-footer;
		}
	}
}
