@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$h1: clamp(#{px-to-rem(40px)}, 4vw + 0.5rem, #{px-to-rem(90px)});
$h2: clamp(#{px-to-rem(20px)}, 3vw + 0.5rem, #{px-to-rem(24px)});
$h3: clamp(#{px-to-rem(18px)}, 2vw + 0.5rem, #{px-to-rem(20px)});

html {
	font-size: 100%;
}

body,
button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: px-to-rem(16px);
	line-height: 1.5;
}

h1,
h3 {
	font-weight: 700;
}

h1 {
	font-size: $h1;
	line-height: 1.2;
}

h2 {
	font-size: $h2;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: px-to-rem(6px);
}
h3 {
	font-size: $h3;
	line-height: 1.6;
}
