@use 'colors' as *;
@use 'functions' as *;

@mixin background($color) {
	@if $color == 'primary' {
		background-color: $primary-color;
		color: $secondary-color;
	}

	@if $color == 'secondary' {
		background-color: $secondary-color;
		color: $primary-color;
	}
}

@mixin flex($direction, $wrap, $align, $justify, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;

	@include mobile {
		gap: px-to-rem(40px);
	}
}

@mixin tablet {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 576px) {
		@content;
	}
}
