@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

%line {
	height: 2px;
	border: none;
	flex: 1;
}

%button {
	cursor: pointer;
	border: 1.5px solid currentColor;
	padding: px-to-rem(10px) px-to-rem(30px);
	text-transform: uppercase;
	border-radius: 5px;
}

%img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

%logo {
	width: px-to-rem(250px);
	height: auto;
	display: block;

	@include mobile {
		width: px-to-rem(215px);
	}
}

%height {
	height: 100dvh;
}

%padding-title-footer {
	padding-bottom: px-to-rem(15px);
}
